@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
/*************** MIXINS ***********************/
@mixin transition($duration) {
	-webkit-transition: $duration ease;
	-moz-transition: $duration ease;
	-ms-transition: $duration ease;
	-o-transition: $duration ease;
	transition: $duration ease;
}
@mixin transform($deg){
	transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
@mixin breakpoint($point) {
  @if $point == momo {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tab {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == mulika {
    @media (max-width: 480px)  { @content; }
  }
}
.row{ max-width: 80rem;}
.nav-bg {
	background: #000000;
}

.top-bar {
	background: #000000;

	.top-bar-section ul li > a,
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: #000000;
		font-family: 'PT Sans', sans-serif;
		font-size: 1rem;
	}
}

h2{ font-size: 3rem; text-align: center; font-weight: 800; color: #4fb7e3;}

div#home {
	// background: url('../images/bg.png');
	.tableCell { 
		vertical-align: top;
	}
}
/****/
#menu{
	
	ul{  margin:0; padding:0;
		span{ margin: 1.25rem 10px; color: #231f20;
		}
		li{ float: left; list-style: none; margin: 1.25rem 0 0 0;}
		a{ color: #231f20; text-transform: uppercase; font-size: 0.75rem; padding: 1.5rem 0;
        &:hover{@include transition(.5s); color:#cecece};
		}
	}

	.logo {
		img {
			display: block;
			margin: auto;
		}
	}

	.logo{ margin: 4px 0 0 0;}
	.login{
       background: #e7e9ec; color:#231f20; padding: 0.5rem 1rem; margin: 14px 10px 0 0; border: 1px solid #e7e9ec;
       &:hover{@include transition(.5s); background: #fff; border: 1px solid #e7e9ec};
	}
	.trial{
      background: #1a9fda; padding: 0.5rem 1rem; margin: 14px 0 0 0; float: right;
      &:hover{@include transition(.5s); background:#0b71ae;}
	}
	}


/**/
body, h1, h2, h3, h4, h5, h6, button, .button {
	font-family: 'PT Sans', sans-serif
}
#topStrip{
	background: url("../images/stripe.jpg") top left repeat-x;
	height: 11px;	
}
/****/
#hero {
	background: url('../images/hero.png');
    height: 450px;
    background-size: cover;
    .success{ text-align: center;
    	h2{font-size: 4rem; color: #fff; margin: 100px 0 0 0; }
         p{color: #fff;}}
	form{
		label{ font-size: 3rem; color: #fff; margin: 100px 0 0 0;}
		input[type="text"], input[type="email"]{ padding: 25px; border-radius: 0; border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;}
	}
     .postfix{ height: 52px; padding-top: 3px;}
	img {
		display: block;
		margin: auto;
		width: 100%;
	}

	

	
}
/****/
#intro{ padding: 3rem 0;	
	p{ font-size: 1.25rem; font-weight: 400; text-align: center;}
	.clients{
		li{ float: left; position: relative; height: 120px; width: 150px; overflow: hidden; list-style: none; margin: 0 8rem 0 0; 
			&:last-child{margin: 0 !important; }
            &:hover{@include transition(1s); background-position:15px -120px !important; }; 
		}
		img{vertical-align: bottom;}
	}
}
/****/
#features{
	background: #efefed; padding: 2rem 0;
	h2{font-size: 3rem;}
	.orbit-slide-number{ display: none;}
}
/****/
.main-links {
	border-top: 3px solid #ededed;
	border-bottom: 3px solid #ededed;
	padding: .3rem;
	 position: absolute;
	 bottom: 0px;
	width: 100%;

	button, .button {
		margin: 0px;
		text-transform: uppercase;
		display: block;
		margin: auto;
	}

	.inline-list {
		padding: 0.95rem;
		margin-left: -1.375rem;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.examples {

	.selection {
		padding: 2rem;
		background: #EFEFED;	
	}
	

	h2 {
		color: #848588;
		// text-align: center;
		font-weight: 400;
	}

	h3 {
		color: #5C5C60;
		text-align: center;
	}

	.row.sample.thumbnails {
		margin-bottom: 2rem;
		margin-top: 2rem;
		
		.story {
			position: relative;

			img.th {
				display: block;
				margin: auto;
			}

			i.fa {
				color: #2C2A29;
				font-size: 4rem;
				left: 50%;
				top: 50%;
				margin-left: -2rem;
				margin-top: -2rem;
				position: absolute;
			}
		}
	}
}

.promo {
	background: #f4f4f4;
}

.customers {
	
	padding: 2rem;
}

.demo {
	padding: 2rem;
	background: #f5f5f5;

	.centered {
		text-align: center;
	}

	.instructions {
		padding-top: 3rem;


		h1 {
			text-align: center;
			border-radius: 50%;
			background: #fff;
			width: 60px;
			margin: auto;
		}

		h1.success {
			color: #ffffff;
			background: $success-color;
		}

		p {
			font-size: 1.2rem;
			text-align: center;
			margin-top: 1.3rem;

			span.highlight {
				color: $primary-color;	
			}
		}
	}

	.orbit-container {
		.orbit-next, .orbit-prev, .orbit-slide-number, .orbit-timer {
			display: none;
		}
	}

	.navigation {
		margin-left: 5em;
		padding-top: 3rem;
		a {
			margin: auto;
			width: 170px;
			// display: block;
		}
	}

	.step {
		padding: 7rem;
		background: #ffffff;

		h4 {
			margin-bottom: 2rem; 
		}

		.btn {
			padding-top: 2rem;
		}
	}

	// .tabs-content {
		
	// 	.content {
	// 		padding: 2rem;

	// 		h4 {
	// 			margin-bottom: 2rem;
	// 		}

	// 		.panel {
	// 			background: #ffffff;

	// 			.button {
	// 				width: 64px;
	// 				margin: auto;
	// 				display: block;
	// 			}

	// 			img {
	// 				margin: auto;
	// 			}

	// 			h5 {
	// 				margin-top: 1rem; 
	// 				border: 1px solid #f5f5f5;
	// 				border-left: none;
	// 				border-right: none;
	// 			}
	// 		}
	// 	}		

	// 	.content.active {
	// 		background: #ffffff;
	// 	}

	// 	#textpanel, #multimediapanel {
	// 		padding: 7rem;
	// 	}
	// }

	// .tabs-content.vertical {
	// 	.content {
	// 		padding: 0 1rem;
	// 	}
	// }
}


.hidden {
	display: none;
}

.compose {
	background: $secondary-color;
	border-radius: 5px;
	padding: 5px;
	position: relative;

	.send {
		margin-top: 5px;
		margin-bottom: 0px;
	}

	small.sent {
		font-size: 80%;
		font-style: italic;
	}

	textarea {
		border: none;
		margin-bottom: 0px;
	}
}

.footer {
	background: #333333;
	padding: 1rem;
	position: relative;
	bottom: 0px;
	width: 100%; 

	h5.mantra {
		display: inline-block;
		small {
			font-size: 80%;
		}	
	}
	

	.social {
		float: right;
		margin-bottom: 0px;

		li {
			list-style: none;
			display: block;
			float: left;
			margin-right: 10px;

			a {
				display: block;
				height: 50px;
				width: 50px;
				background: url(../images/social.png) no-repeat center 0;
			}

			a:hover {
				opacity: 0.8;
			}

			a.twitter {
				background-position: center 0;
			}

			a.mail {
				background-position: center -400px;
			}
		}
	}
}
