@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.nav-bg {
	background: #000000;
}

.top-bar {
	background: #000000;

	.top-bar-section ul li > a,
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: #000000;
		font-family: 'PT Sans', sans-serif;
		font-size: 1rem;
	}
}


div#home {
	// background: url('../images/bg.png');
	.tableCell { 
		vertical-align: top;
	}
}

body, h1, h2, h3, h4, h5, h6, button, .button {
	font-family: 'PT Sans', sans-serif
}

.hero {
	background: url("../images/stripe.jpg") top left repeat-x;
	padding-top: 8rem;
	padding-bottom: 5rem;
	// border-bottom: 3px solid #ededed;

	img {
		display: block;
		margin: auto;
	}

	img.inline {
		display: inline-block;
	}

	.tagline {
		text-align: center;
		margin-top: 2rem;
	}
}

.main-links {
	border-top: 3px solid #ededed;
	border-bottom: 3px solid #ededed;
	padding: .3rem;
	// position: absolute;
	// bottom: 0px;
	width: 100%;

	button, .button {
		margin: 0px;
		text-transform: uppercase;
		display: block;
		margin: auto;
	}

	.inline-list {
		padding: 0.95rem;
		margin-left: -1.375rem;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.promo {
	background: #f4f4f4;
}

.customers {
	
	padding: 2rem;
}

.demo {
	padding: 2rem;
	background: #f5f5f5;

	.centered {
		text-align: center;
	}

	.instructions {
		padding-top: 3rem;


		h1 {
			text-align: center;
			border-radius: 50%;
			background: #fff;
			width: 60px;
			margin: auto;
		}

		h1.success {
			color: #ffffff;
			background: $success-color;
		}

		p {
			font-size: 1.2rem;
			text-align: center;
			margin-top: 1.3rem;

			span.highlight {
				color: $primary-color;	
			}
		}
	}

	.orbit-container {
		.orbit-next, .orbit-prev, .orbit-slide-number, .orbit-timer {
			display: none;
		}
	}

	.navigation {
		margin-left: 5em;
		padding-top: 3rem;
		a {
			margin: auto;
			width: 170px;
			// display: block;
		}
	}

	.step {
		padding: 7rem;
		background: #ffffff;

		h4 {
			margin-bottom: 2rem; 
		}

		.btn {
			padding-top: 2rem;
		}
	}

	// .tabs-content {
		
	// 	.content {
	// 		padding: 2rem;

	// 		h4 {
	// 			margin-bottom: 2rem;
	// 		}

	// 		.panel {
	// 			background: #ffffff;

	// 			.button {
	// 				width: 64px;
	// 				margin: auto;
	// 				display: block;
	// 			}

	// 			img {
	// 				margin: auto;
	// 			}

	// 			h5 {
	// 				margin-top: 1rem; 
	// 				border: 1px solid #f5f5f5;
	// 				border-left: none;
	// 				border-right: none;
	// 			}
	// 		}
	// 	}		

	// 	.content.active {
	// 		background: #ffffff;
	// 	}

	// 	#textpanel, #multimediapanel {
	// 		padding: 7rem;
	// 	}
	// }

	// .tabs-content.vertical {
	// 	.content {
	// 		padding: 0 1rem;
	// 	}
	// }
}


.hidden {
	display: none;
}

.compose {
	background: $secondary-color;
	border-radius: 5px;
	padding: 5px;
	position: relative;

	.send {
		margin-top: 5px;
		margin-bottom: 0px;
	}

	small.sent {
		font-size: 80%;
		font-style: italic;
	}

	textarea {
		border: none;
		margin-bottom: 0px;
	}
}

.footer {
	background: #333333;
	padding: 1rem;
	position: absolute;
	bottom: 0px;
	width: 100%; 

	h5.mantra {
		display: inline-block;
		small {
			font-size: 80%;
		}	
	}
	

	.social {
		float: right;
		margin-bottom: 0px;

		li {
			list-style: none;
			display: block;
			float: left;
			margin-right: 10px;

			a {
				display: block;
				height: 50px;
				width: 50px;
				background: url(../images/social.png) no-repeat center 0;
			}

			a:hover {
				opacity: 0.8;
			}

			a.twitter {
				background-position: center 0;
			}

			a.mail {
				background-position: center -400px;
			}
		}
	}
}
